<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sgi">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SGI">
        <activity
            android:name=".panel.fragments.asignarTecnico"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".panel.fragments.panelControlTicketAbierto"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlertaRecordarPassword"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".crearTicket.crearTicketImg"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crearTicket.crearTicket"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio.inicioProfesorAlumno"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio.inicioTutores"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio.inicioProfesoresMnt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio.inicioTutoresMnt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ajustes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".panel.panelControl"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>