<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sgi">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.SGI">
        <activity
            android:name=".ajustesActivity"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".inicioProfesorAlumno"
            android:exported="false" />
        <activity
            android:name=".inicioTutores"
            android:exported="false" />
        <activity
            android:name=".inicioProfesoresMnt"
            android:exported="false" />
        <activity
            android:name=".inicioTutoresMnt"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".crearTicketImgActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>